@font-face {
  font-family: "Latin Modern";
  src: url("./fonts/lmroman10-regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Latin Modern";
  src: url("./fonts/lmroman10-bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Latin Modern";
  src: url("./fonts/lmroman10-italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Latin Modern";
  src: url("./fonts/lmroman10-bolditalic.otf");
  font-weight: bold;
  font-style: italic;
}

/* scaffold ************************/

body {
  font-family: 'Latin Modern';
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
  padding: 85px;
  padding-top: 0px;
  padding-bottom: 0px;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Latin Modern';
  font-weight: bold;
  margin-top: 30px;
  display: block;
  text-align: left;
}

h1 {
  font-size: 22px;
}

/* objects *************************/

.pagebreak {
  display: block;
  page-break-before: always;
  break-before: always;
}

.contents {
  width: 100%;
  font-size: 11px;
}
.contents td+td {
  text-align: right;
}
.contents__section td {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}

.references b {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}
.references a {
  font-size: 8px;
}

.left {
  text-align: left;
}

.title {
  margin-top: 260px;
  font-size: 45px;
  display: block;
  margin-bottom: 0px;
  line-height: 1;
}

.description {
  margin-bottom: 280px;
}
