/* scaffold ************************/

body {
  font-family: 'Times New Roman';
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Times New Roman';
  font-weight: bold;
  margin-top: 40px;
  display: block
}

h1 {
  font-size: 22px;
}

/* objects *************************/

.pagebreak {
  display: block;
  page-break-before: always;
  break-before: always;
}

.contents {
  width: 100%;
}
.contents td+td {
  text-align: right;
}
.contents__section td {
  font-weight: bold;
  padding-top: 10px;
}

.title {
  margin-top: 260px;
  font-size: 45px;
  display: block;
  margin-bottom: 0px;
  line-height: 1;
}

.description {
  margin-bottom: 250px;
}
